body {
  background-color: #e8e8e1;
}

h1,
p {
  text-align: center;
}

h1 {
  color: #d3ab34;
}

p {
  color: #454c4d;
}

img {
  max-width: 25%;
  display: block;
  margin: 30px auto;
  border-radius: 10px;
}

footer {
  display: block;
  text-align: center;
}

a {
  margin: 0 10px;
  color: teal;
}
